.App {
  text-align: center;
  display:flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* started from here */

body{
  height:100vh;
  background-image: 
  radial-gradient(ellipse farthest-corner at 40% 40%, rgba(1,8,8,1) 76%, rgba(0,212,255,1) 97%);
  /* background: rgb(17,17,17);
background: linear-gradient(45deg, rgba(17,17,17,1) 0%, rgba(1,8,8,1) 74%, rgba(0,212,255,1) 97%); */
  color: white;
  border-radius: 10px;
  margin-top: 50px;
  display: block;
  animation: bg-change 10s infinite alternate;
  background-size: 400%;
}

@keyframes bg-change{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

/* color:#00d4ff */

#general{
  display:flex;
  width:75%;
  margin: auto;
  margin-top: 100px;
}

#littledesc{
  /* border: 1px solid red; */
  margin-top: 200px;
  margin-left: 50px;
  width: 60%;
}